<h2 class="ui header dividing -flex">
    Listado de Preguntas
    <div class="actions">{{link-to "Crear nueva Pregunta" "admin.questions.new" classNames="ui orange button tiny" }}</div>
</h2>


{{#if model.length}}
 <div class="section-content ">
  <table class="ui celled striped table">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
    <tbody>
      {{#each model as |question|}}
      <tr>
        <td class="collapsing">
           {{question.category.name}}
        </td>
        <td>{{question.description}}</td>
        <td class="right aligned collapsing">
          {{link-to "Editar" "admin.questions.edit" question.id class="ui button tiny"}}
          <a href="#" {{action "remove" question}} class="ui button tiny">Eliminar</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
  <div class="loading">
  
  </div>
{{/if}}


