<h2 class="ui header dividing -flex">
    Listado de Categorias
    <div class="actions">{{link-to "Crear nueva Categoria" "admin.categories.new" classNames="ui orange button tiny" }}</div>
</h2>


{{#if model.length}}
 <div class="section-content ">
  <table class="ui celled striped table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
    <tbody>
      {{#each model as |category|}}
      <tr>
        <td class="collapsing">
           {{category.name}}
        </td>
        <td class="right aligned collapsing">
          {{link-to "Editar" "admin.categories.edit" category class="ui button tiny"}}
          <a href="#" {{action "remove" category}} class="ui button tiny">Eliminar</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
  <div class="loading">
  
  </div>
{{/if}}


