<form {{action "save" on="submit"}} class="ui form">
  <div class="two fields">
    <div class="field">
      <label>
        Cargo
      </label>
        {{ember-selectize
          content=model.positions
          optionLabelPath="content.name"
          selection=model.candidate.position
          placeholder="Selecciona un Cargo" }}        
    </div>
    <div class="field">
      <label>
        Allianza
      </label>
        {{ember-selectize
          content=model.alliances
          optionLabelPath="content.name"
          selection=model.candidate.alliance
          placeholder="Selecciona una Alianza" }}        
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>
        Nombre completo
      </label>
        {{input type="text" value=model.candidate.name}}
    </div>
    <div class="field">
      <label>
        Twitter
      </label>
        {{input type="text" value=model.candidate.twitter}}
    </div>
    <div class="field">
      <label>
        Facebook
      </label>
        {{input type="text" value=model.candidate.facebook}}
    </div>  
  </div>

  <div class="field">
    <label>
      CED
    </label>
      {{input type="text" value=model.candidate.ced}}
  </div>

  <div class="field">
    <label>
      Orden
    </label>
      {{input type="number" value=model.candidate.order}}
  </div>

  <div class="field">
    <label>
      Biografia
    </label>
      {{input type="text" value=model.candidate.bio}}
  </div>

  {{#if model.candidate.avatar.url}}
    <div class="img-container">
      <img src={{model.candidate.avatar.url}}>
    </div>
  {{/if}}
  {{upload-file file=model.candidate.avatar multiple=false}}

  <ul>
  {{#each model.answers as |answer|}}
    <li>
      <h2>{{answer.question.category.name}}</h2> 
      <span>{{answer.question.title}}</span> 
      <div>
        <label>Respuesta</label>
        {{yes-no noResponsed=true answer=answer}}
      </div> 
      <div>
        <label>Justificacion</label>
        {{input type="text" value=answer.comment}}
      </div>
      <div>
        <label>Presunta respuesta</label>
        {{ember-selectize
          content=model.fonts
          selection=answer.dummy
          placeholder="Selecciona una fuente" }}        
      </div>        
    </li>    
  {{/each}}
  </ul>


  <div class="field">
    {{#if loading}}
      <a class="ui button">Guardando...</a>
    {{else}}
      <input class="ui button" type="submit" value="Guardar">
    {{/if}} 
  </div>
</form>
