<h2 class="ui header dividing -flex">
    Listado de Candidatos

    <div class="actions">
      {{ember-selectize
        content=model.alliances
        optionLabelPath="content.name"
        selection=alliance
        placeholder="Selecciona una Alianza" }}        
       <a {{action 'filter'}} class="ui orange button tiny">Buscar</a>

    {{link-to "Crear nuevo Candidato" "admin.candidates.new" classNames="ui orange button tiny" }}

    </div>
</h2>




{{#if candidates.length}}
 <div class="section-content ">
  <table class="ui celled striped table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Partido</th>
      <th>Cargo</th>
      <th>Acciones</th>
    </tr>
  </thead>
    <tbody>
      {{#each candidates as |candidate|}}
      <tr>
        <td class="collapsing">
           {{candidate.name}}
        </td>
        <td>{{candidate.alliance.name}}</td>
        <td>{{candidate.position.name}}</td>
        <td class="right aligned collapsing">
          {{link-to "Editar" "admin.candidates.edit" candidate.id class="ui button tiny"}}
          <a href="#" {{action "remove" candidate}} class="ui button tiny">Eliminar</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
  <div class="loading">
  
  </div>
{{/if}}


