{{#burger-menu animation="scale-down" itemAnimation="stack" as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
   <span>Menu</span>
    <a {{action burger.state.actions.close}} class="fa fa-close"></a>
 
    <ul>
      {{#menu.item}}
        {{#link-to 'index'}}Juego{{/link-to}}
      {{/menu.item}}
      {{#menu.item}}
        {{#link-to 'candidates'}}Candidatos{{/link-to}}
      {{/menu.item}}
      {{#menu.item}}
        {{#link-to 'alliances'}}Alianzas{{/link-to}}
      {{/menu.item}}
      {{#if session.isAuthenticated}}
        {{#menu.item}}
          {{#link-to 'admin'}}Administrador{{/link-to}}
        {{/menu.item}}
      
        {{#menu.item}}
          <a {{action 'invalidateSession'}}>Logout</a>
        {{/menu.item}}
      {{else}}
        {{#menu.item}}
          {{#link-to 'login'}}Login{{/link-to}}
        {{/menu.item}}
      {{/if}}
    </ul>


  {{/burger.menu}}
 
  {{#burger.outlet}}
    <a class="off-canvas fa fa-bars" {{action burger.state.actions.toggle}}></a>
    {{outlet}}
  {{/burger.outlet}}
{{/burger-menu}}
