{{#burger-menu animation="push" itemAnimation="push" position="right" as |burger|}}
  {{#burger.menu dismissOnItemClick=true itemTagName="li" as |menu|}}
    <a {{action burger.state.actions.close}} class="off-canvas-close fa fa-close"></a>
    <h2><img src="/assets/images/logo-decide-2017.png" width="200px" alt=""></h2>
    <ul class="ui secondary vertical pointing menu">
      {{#menu.item}}
        {{#link-to 'index'}}
          <i class="fa fa-send"></i>
          Juego
          {{/link-to}}
      {{/menu.item}}
      {{#menu.item}}
        {{#link-to 'candidates.presidents'}}
          <i class="fa fa-user"></i>
          Presidencia
          {{/link-to}}
      {{/menu.item}}
      {{#menu.item}}
      {{#link-to 'candidates.assemblymen'}}

          <i class="fa fa-user"></i>
          Asambleistas
        {{/link-to}}

      {{/menu.item}}      
      {{#menu.item}}
        {{#link-to 'alliances'}}
          <i class="fa fa-users"></i>
          Partidos
          {{/link-to}}
      {{/menu.item}}
      {{#if session.isAuthenticated}}
        {{#menu.item}}
          {{#link-to 'admin'}}
          <i class="fa fa-cog"></i>
          Administrador{{/link-to}}
        {{/menu.item}}
      
        {{#menu.item}}
          <a {{action 'invalidateSession'}}>
          <i class="fa fa-unlock-alt"></i>
          Logout</a>
        {{/menu.item}}
      {{else}}
        {{#menu.item}}
          {{#link-to 'login'}}
          <i class="fa fa-lock"></i>
          Login{{/link-to}}
        {{/menu.item}}
      {{/if}}
    </ul>


  {{/burger.menu}}
 
  {{#burger.outlet}}
    <nav class="main-nav">
      {{#link-to 'index' class="logo"}}
        <img src="/assets/images/logo-decide-2017.png" width="200px" alt="Decide 2017">
      {{/link-to}}
      <div class="nav-menu">
        {{#link-to 'index'}}
        <i class="fa fa-bullseye"></i>
        Juego
        {{/link-to}}
        {{#link-to 'candidates.presidents'}}
        <i class="fa fa-user"></i>
        Presidencia
        {{/link-to}}
        {{#link-to 'candidates.assemblymen'}}
        <i class="fa fa-user"></i>
        Asambleistas Nacionales
        {{/link-to}}
        {{#link-to 'alliances'}}
        <i class="fa fa-users"></i>
        Partidos
        {{/link-to}}
      </div>
      <div class="nav-social">
        <a class="ui circular tiny facebook icon button">
          <i class="facebook icon"></i>
        </a>
        <a class="ui circular tiny twitter icon button">
          <i class="twitter icon"></i>
        </a>
      </div>
      <a class="off-canvas fa fa-bars" {{action burger.state.actions.toggle}}></a>
    </nav>
   
    <div class="ui main-container container">
      <div class="segment">
      {{outlet}}
      </div>
    </div>
  {{/burger.outlet}}
{{/burger-menu}}
