{{yield}}


{{#if creating}}
	<div class="start" style="text-align: center;">
			
			<h2 class="ui center aligned icon header" style="background: #f9f9f9;">
			  <i class="circular users icon"></i>
			  Decision 2017
			</h2>
			  <label>Creando juego...</label>
		</div>
	
{{else}}
	{{#if guest}}
		{{#if isFinish}}
			Lista de candidatos
			<div class="matchs">
				<ul>
				{{#each matchs as |match|}}
					<li>
					   <img src="{{match.candidate.avatar.url}}" width="32">
					  {{match.candidate.name}} 
					  {{match.percent}}
					 </li>
				{{/each}}
				</ul>
			</div>
			
			{{facebook-feed data-desc="Estos son mis candidatos!" data-title="Decide 2017" data-caption="Decide 2017" class="facebook-share-button"}}

			<button class="ui tiny right labeled icon button" {{action 'newGame'}}>
			  <i class="right arrow icon"></i>
			  Nuevo Juego
			</button>			

		{{else}}
			<div class="quiz" style="text-align: center;">
				
			<h2>{{currentQuestion.category.name}}</h2>
			<label>{{currentQuestion.title}}</label>
			{{#if currentAnswer.value}}
				<ul>
				{{#each candidateAnwers as |answer|}}
					<li>
					  <img src="{{match.candidate.avatar.url}}">
					  {{answer.candidate.name}}
					  {{#if answer.value}}
					  <div>
					    <label>Respuesta</label>
					    {{answer.response}}
					  </div> 
					  <div>
					    <label>Justificacion</label>
					    {{answer.comment}}
					  </div>
					  {{else}}
						  <div>
						    <label>El candidato no respondio</label>
						  </div>
						  {{#if answer.dummy}}        
							  <div>
							    <label>Presunta respuesta</label>
							    {{answer.dummy}}
							  </div>        
						  {{/if}}
					  {{/if}}
					</li>
				{{/each}}
				</ul>
				<div class="ui divider"></div>
				<div>
					<ul>
					{{#each matchs as |match|}}
						<li>
						  <img src="{{match.candidate.avatar.url}}" width="32px">
						  {{match.candidate.name}} 
						  {{match.percent}}%
						 </li>
					{{/each}}
					</ul>
				</div>
				<div class="ui divider"></div>
				<button class="ui tiny right labeled icon button" {{action 'next'}}>
				  <i class="right arrow icon"></i>
				  Siguiente Pregunta
				</button>
			{{else}}
				{{yes-no answer=currentAnswer onSelect=(action 'responsed')}}
			{{/if}}
			</div>
		{{/if}}
	{{else}}
		<div class="start" style="text-align: center;">
			
			<h2 class="ui center aligned icon header" style="background: #f9f9f9;">
			  <i class="circular users icon"></i>
			  Decision 2017
			</h2>
			<button class="ui tiny right labeled icon button" {{action 'newGame'}}>
			  <i class="right arrow icon"></i>
			  Nuevo Juego
			</button>
		</div>
	{{/if}}

{{/if}}
