{{yield}}



{{#if guest}}
	{{#if isFinish}}
		Lista de candidatos
		<span {{action 'newGame'}}>Jugar de nuevo</span>
	{{else}}
		<div class="quiz" style="text-align: center;">
			
		<h2>{{currentQuestion.category.name}}</h2>
		<label>{{currentQuestion.title}}</label>
		{{#if currentAnswer.value}}
			<ul>
			{{#each candidateAnwers as |answer|}}
				<li> 
				  {{answer.candidate.name}}
				  {{#if answer.value}}
				  <div>
				    <label>Respuesta</label>
				    {{answer.response}}
				  </div> 
				  <div>
				    <label>Justificacion</label>
				    {{answer.comment}}
				  </div>
				  {{else}}
					  <div>
					    <label>El candidato no respondio</label>
					  </div>
					  {{#if answer.dummy}}        
						  <div>
						    <label>Presunta respuesta</label>
						    {{answer.dummy}}
						  </div>        
					  {{/if}}
				  {{/if}}
				</li>
			{{/each}}
			</ul>
			<div class="ui divider"></div>
			<div>
			{{#each matchCandidates.matchs as |match|}}
				<li> 
				  {{match.percent}}
				 </li>
			{{/each}}

			</div>
			<div class="ui divider"></div>
			<button class="ui tiny right labeled icon button" {{action 'next'}}>
			  <i class="right arrow icon"></i>
			  Siguiente Pregunta
			</button>
		{{else}}
			{{yes-no answer=currentAnswer onSelect=(action 'responsed')}}
		{{/if}}
		</div>
	{{/if}}
{{else}}
	<div class="start" style="text-align: center;">
		
		<h2 class="ui center aligned icon header" style="background: #f9f9f9;">
		  <i class="circular users icon"></i>
		  Decision 2017
		</h2>
		<button class="ui tiny right labeled icon button" {{action 'newGame'}}>
		  <i class="right arrow icon"></i>
		  Nuevo Juego
		</button>
	</div>
{{/if}}


