{{yield}}

{{#if creating}}
	<div class="start" style="text-align: center;">
		<div class="start-logo" style="text-align: center;">
		<img src="/assets/images/logo-vertical-decide-2017.png" width="200" alt="">
		</div>
		<button class="ui tiny inverted loading button">Creando juego...</button>
	</div>
{{else}}
	{{#if guest}}
		{{#if isFinish}}
			<div class="quiz-results">
				<h2 class="header">Porcentaje de relación</h2>
				<div class="matchs">
					<ul>
					{{#each matchs as |match|}}
						<li>
							{{#ui-accordion class="styled" as |execute|}}
							   <div class="ui image candidate-results header title">

							       <img src="{{match.candidate.avatar.url}}" class="ui mini rounded image">
							       <div class="content">
							       {{match.candidate.name}}
							       <div class="sub header">{{match.candidate.alliance.name}}</div>
							       </div>
							       <div class="value" style="float: right; font-size: 40px;
	    margin: 15px 0 0 0;">
							       	{{match.percent}}%
							       </div>
							   </div>
							   <div class="content">
							       <ul>
							       	{{#each match.answers as |aw|}}
							       		<li>{{aw.question.category.name}} | {{aw.question.title}} | {{aw.success}} | {{aw.comment}} | {{aw.guestValue}} | {{aw.value}}
							       		</li> 
							       	{{/each}}
							       </ul>

							   </div>

							{{/ui-accordion}}
						 </li>
					{{/each}}
					</ul>
				</div>

				<div class="ui divider"></div>

				{{facebook-feed data-desc="Estos son mis candidatos!" data-title="Decide 2017" data-caption="Decide 2017" class="facebook-share-button"}}

				<button class="ui tiny right positive labeled icon button" style="float: right;" {{action 'newGame'}}>
				  Nuevo Juego
				  <i class="right arrow icon"></i>
				</button>			
			</div>
		{{else}}
			<div class="quiz">
				<h2 class="ui icon header" style="margin: 0;">
				  <div class="content" >
				    <span>{{currentQuestion.category.name}}</span>
				    <div class="sub header">{{currentQuestion.title}}</div>
				  </div>
				</h2>
				{{currentAnswer.question.id}}
				{{#if currentAnswer.value}}
					<div class="ui divider" style="margin-bottom: 0"></div>
					<div class="next-question">
					<button class="ui tiny inverted loading button">Creando juego...</button>
					</div>
				{{else}}
					<div class="ui divider" style="margin-bottom: 0;"></div>
					<div class="yes-no">
						{{yes-no answer=currentAnswer onSelect=(action 'responsed')}}
					</div>
				{{/if}}

				<div class="ui divider" style="margin-top: 0;"></div>
				{{#if matchs}}
				<div class="relation-percent">
					<table class="ui very basic collapsing celled compact table">
					  <thead>
					    <tr>
					    	<th width="75%">Candidato</th>
					    	<th width="25%">Relación</th>
					  	</tr>	
					  </thead>
					  <tbody>
						{{#each matchs as |match|}}
						<tr>
					      <td>
					        <h4 class="ui image header">
					        	<img src="{{match.candidate.avatar.url}}" class="ui mini rounded image">
					        	<div class="content">
					            {{match.candidate.name}}
					            <div class="sub header">{{match.candidate.alliance.name}}</div>
				        		</div>
					      	</h4>
					      	</td>
					      <td>
					        {{match.percent}}%
					      </td>
					    </tr>
						{{/each}}
					  </tbody>
					</table>
				</div>
				{{/if}}
			</div>
		{{/if}}
	{{else}}
		<div class="start">
			<div class="start-logo">
				<img src="/assets/images/logo-vertical-decide-2017.png" width="200" alt="">
			</div>
			<div class="start-options">
			      {{ember-selectize
			        content=positions
			        optionLabelPath="content.name"
			        selection=position
			        placeholder="Selecciona un Cargo"
			      }}
			    {{#if position}}
				<button class="ui tiny right labeled fluid inverted icon button" {{action 'newGame'}}>
				  <i class="right arrow icon"></i>
				  Comenzar Juego
				</button>
			{{/if}}
			</div>
			<p>Descubrí qué candidatos a la Presidencia y la Asamblea representan mejor
			tus intereses respondiendo 10 preguntas.</p>
		</div>
	{{/if}}
{{/if}}