{{yield}}


{{#if creating}}
	<div class="start" style="text-align: center;">
			
			<img src="/assets/images/logosolo.png" width="150" height="150" alt="" style="margin-top: 35px;">
			<h2 class="ui center aligned icon header">
			  Decision 2017
			</h2>
			<button class="ui tiny positive loading button">Creando juego...</button>
		</div>
	
{{else}}
	{{#if guest}}
		{{#if isFinish}}
			Lista de candidatos
			<div class="matchs">
				<ul>
				{{#each matchs as |match|}}
					<li>
					   <img src="{{match.candidate.avatar.url}}" width="32">
					  {{match.candidate.name}} 
					  {{match.percent}}
					 </li>
				{{/each}}
				</ul>
			</div>
			
			{{facebook-feed data-desc="Estos son mis candidatos!" data-title="Decide 2017" data-caption="Decide 2017" class="facebook-share-button"}}

			<button class="ui tiny right positive labeled icon button" {{action 'newGame'}}>
			  <i class="right arrow icon"></i>
			  Nuevo Juego
			</button>			

		{{else}}
			<div class="quiz" style="text-align: center;">
			
			<h2 class="ui icon header" style="display: block; padding: 0 15px;">
			  <div class="content" >
			    <span >{{currentQuestion.category.name}}</span>
			    <div class="sub header" >{{currentQuestion.title}}</div>
			  </div>
			</h2>

			{{#if currentAnswer.value}}
				<ul class="ui link items">
				{{#each candidateAnwers as |answer|}}
					<li class="item">
					<div class="ui tiny image">
					   <img src="{{match.candidate.avatar.url}}">
					 </div>
					 <div class="content">
					   <div class="header">{{answer.candidate.name}}</div>
					   <div class="description">
					     <p>
				     	  {{#if answer.value}}
				     	  <div>
				     	    <label>Respuesta</label>
				     	    {{answer.response}}
				     	  </div> 
				     	  <div>
				     	    <label>Justificacion</label>
				     	    {{answer.comment}}
				     	  </div>
				     	  {{else}}
				     		  <div>
				     		    <label>El candidato no respondio</label>
				     		  </div>
				     		  {{#if answer.dummy}}        
				     			  <div>
				     			    <label>Presunta respuesta</label>
				     			    {{answer.dummy}}
				     			  </div>        
				     		  {{/if}}
				     	  {{/if}}
					     </p>
					   </div>
					 </div>
					  
					  
					</li>
				{{/each}}
				</ul>
				<div class="ui divider"></div>
				<div>
					<ul class="ui items">
					{{#each matchs as |match|}}
						<li class="item">
						  <div class="ui tiny circular image" style="
    height: 80px;
">
						     <img src="{{match.candidate.avatar.url}}" >
						   </div>
						  <div class="content">
						    <div class="header">{{match.candidate.name}}</div>
						    <div class="description">
						  		{{match.percent}}%
					  		</div>
					  	   </div>
						 </li>
					{{/each}}
					</ul>
				</div>
				<div class="ui divider"></div>
				<button class="ui tiny right positive labeled icon button" {{action 'next'}}>
				  <i class="right arrow icon"></i>
				  Siguiente Pregunta
				</button>
			{{else}}
				{{yes-no answer=currentAnswer onSelect=(action 'responsed')}}
			{{/if}}
			</div>
		{{/if}}
	{{else}}
		<div class="start" style="text-align: center;">
			
			<img src="/assets/images/logosolo.png" width="150" height="150" alt="" style="
    margin-top: 35px;
">
			<h2 class="ui center aligned icon header">
			  Decision 2017
			</h2>
			<p style="padding: 0 4em;">Descubrí qué candidatos a la Presidencia y la Asamblea representan <br> mejor
tus intereses respondiendo 10 preguntas</p>
			<button class="ui tiny right labeled positive icon button" {{action 'newGame'}}>
			  <i class="right arrow icon"></i>
			  Nuevo Juego
			</button>
		</div>
	{{/if}}

{{/if}}
