{{#if yesSelected}}
	<button {{action 'yes'}} class="ui olive tiny button">
      <i class="fa fa-check"></i>Si
    </button>
{{else}}
	<button {{action 'yes'}} class="ui green tiny button">
		<i class="fa fa-check"></i>Si
	</button>
{{/if}}

{{#if noSelected}}
	<button {{action 'no'}} class="ui orange tiny button">
		<i class="fa fa-close"></i>No
	</button>
{{else}}
	<button {{action 'no'}} class="ui red tiny button">
		<i class="fa fa-close"></i>No
	</button>
{{/if}}

{{#if noResponsed}}
	{{#if isNotResponsed}}
		<button {{action 'noResponse'}} class="ui black tiny button">
			<i class="fa fa-close"></i>No Responde
		</button>
	{{else}}
		<button {{action 'noResponse'}} class="ui grey tiny button">
			<i class="fa fa-close"></i>No Responde
		</button>
	{{/if}}
{{/if}}