<div class="candidate-view">
<div class="meta">
	{{#if model.candidate.avatar.url}}
	<div class="candidate-image">
		<img src="{{model.candidate.avatar.url}}"/>
	</div>
	{{/if}}

	<div class="content">
		<h2>{{model.candidate.name}}</h2>
		<h3>{{model.candidate.position.name}}</h3>
		<span>{{model.candidate.alliance.name}}</span>
	</div>
	<div class="social">
		<button class="ui circular facebook icon button">
		  <i class="facebook icon"></i>
		</button>
		<button class="ui circular twitter icon button">
		  <i class="twitter icon"></i>
		</button>
		<button class="ui circular linkedin icon button">
		  <i class="linkedin icon"></i>
		</button>
		<button class="ui circular google plus icon button">
		  <i class="google plus icon"></i>
		</button>
	</div>
	<div class="bio">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptates veniam, quia, repellat harum, modi praesentium, cumque repudiandae maxime dolorum perspiciatis natus esse dolore illum consequuntur vel est dolor labore. Iusto nesciunt ipsa dolor veritatis, natus harum! Magni recusandae error sequi natus enim a quia ab, et repellendus dolorem quaerat minus quos inventore distinctio perferendis fugiat illo id esse, tempore nam, assumenda? Commodi recusandae quo porro quaerat eius natus rerum nulla deserunt vel, magni beatae?
		</p>
	</div>
</div>

<ul class="candidate-answers">
	{{#each model.answers as |answer|}}
		<li class="item">
		  <span>{{answer.question.category.name}}</span> 
		  <h2>{{answer.question.title}}</h2> 
		  {{#if answer.value}}
		  <div class="item-answer">
		    <label>Respuesta</label>
		    {{answer.response}}
		  </div> 
		  <div class="item-comment">
		    <label>Justificacion</label>
		    {{answer.comment}}
		  </div>
		  {{else}}
			  <div class="item-none">
			    <label>El candidato no respondio</label>
			  </div>
			  {{#if answer.dummy}}        
				  <div class="item-dummy">
				    <label>Presunta respuesta</label>
				    {{answer.dummy}}
				  </div>        
			  {{/if}}
		  {{/if}}
		</li>
	{{/each}}
</ul>
</div>