<div class="candidate-view">
<div class="meta">
	{{#if model.candidate.avatar.url}}
	<div class="candidate-image">
		<img src="{{model.candidate.avatar.url}}"/>
	</div>
	{{/if}}

	<div class="content">
		<h2>{{model.candidate.name}}</h2>
		<h3>{{model.candidate.position.name}}</h3>
		<span>{{model.candidate.alliance.name}}</span>
	</div>
	<div class="social">
		<a href="{{model.candidate.facebook}}" target="_blank" class="ui circular facebook icon button">
		  <i class="facebook icon"></i>
		</a>
		<a href="http://twitter.com/{{model.candidate.twitter}}" target="_blank" class="ui circular twitter icon button">
		  <i class="twitter icon"></i>
		</a>
	</div>
	<div class="bio">
		<p>
			{{model.candidate.bio}}
		</p>
	</div>
</div>


<ul class="candidate-answers">
	{{#each model.answers as |answer|}}
		<li class="item">
		  <span>{{answer.question.category.name}}</span> 
		  <h2>{{answer.question.title}}
			<b style="font-weight: 600;">{{answer.response}}</b>
		  </h2> 
		  {{#if answer.comment}}
		  <div class="item-comment">
		  	<div class="label-{{answer.dummy}}">Respuesta {{answer.dummy}}</div>
		    <p class="comment-{{answer.dummy}}">{{answer.comment}}</p>
		    {{#if model.candidate.twitter}}

				<a class="twitter-share-button ui mini twitter button" href="https://twitter.com/intent/tweet?text={{model.candidate.twitter}} {{answer.comment}}" data-size="large">
					Twitear respuesta
					{{fa-icon 'twitter'}}
				</a>

		   	{{/if}}
		  </div>
		  {{/if}}
		</li>
	{{/each}}
</ul>
</div>