<div class="candidate-view">
<div class="meta">
	{{#if model.candidate.avatar.url}}
	<div class="candidate-image">
		<img src="{{model.candidate.avatar.url}}"/>
	</div>
	{{/if}}

	<div class="content">
		<h2>{{model.candidate.name}}</h2>
		<h3>{{model.candidate.position.name}}</h3>
		<span>{{model.candidate.alliance.name}}</span>
	</div>
</div>

<ul class="candidate-answers">
	{{#each model.answers as |answer|}}
		<li class="item">
		  <span>{{answer.question.category.name}}</span> 
		  <h2>{{answer.question.title}}</h2> 
		  {{#if answer.value}}
		  <div class="item-answer">
		    <label>Respuesta</label>
		    {{answer.value}}
		  </div> 
		  <div class="item-comment">
		    <label>Justificacion</label>
		    {{answer.comment}}
		  </div>
		  {{else}}
			  <div class="item-none">
			    <label>El candidato no respondio</label>
			  </div>
			  {{#if answer.dummy}}        
				  <div class="item-dummy">
				    <label>Presunta respuesta</label>
				    {{answer.dummy}}
				  </div>        
			  {{/if}}
		  {{/if}}
		</li>
	{{/each}}
</ul>
</div>